$xl-device: 1440px;
$l-device: 1140px;
$m-device: 960px;
$s-device: 540px;


@mixin responsive($size) {
    @if $size== ll {
      @media screen and (min-width: $ll-device) {
        //acima do medio
        @content;
      }
    }
    @else if $size==l {
      @media screen and (min-width: $l-device) {
        //acima do medio
        @content;
      }
    } @else if $size==lll {
      @media screen and (min-width: $lll-device) {
        //acima do medio
        @content;
      }
    } @else if $size==m {
      @media screen and (max-width: $m-device ) {
        //abaixo do medio
        @content;
      }
    } @else if $size==t {
      @media screen and (max-width: $t-device ) {
        //abaixo do medio
        @content;
      }
    }
    @else if $size==mx {
      @media screen and (max-width: $mx-device) {
        //abaixo do medio
        @content;
      }
    }
    @else if $size==mm {
      @media screen and (max-width: $mm-device ) {
        //abaixo do medio
        @content;
      }
    }
    
    @else if $size==s {
      @media screen and (max-width: $s-device - 1) {
        @content;
      }
    } @else if $size==ss {
      @media screen and (max-width: $ss-device - 1) { 
        @content;
      }
    }
  }
  
